cliente-varejista/transportadora.wsdl

<definitions name="TransportadoraService"
  targetNamespace="http://transportadora.com.br"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://transportadora.com.br"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <types>
    <xsd:schema targetNamespace="http://transportadora.com.br">
      <xsd:element name="RegistrarPedido">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="numeroPedido" type="xsd:string"/>
            <xsd:element name="itens" type="xsd:string"/>
            <xsd:element name="quantidades" type="xsd:string"/>
            <xsd:element name="enderecoEntrega" type="xsd:string"/>
            <xsd:element name="destinatario" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ConsultarStatus">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="numeroPedido" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="AtualizarStatus">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="numeroPedido" type="xsd:string"/>
            <xsd:element name="novoStatus" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="RegistrarPedidoRequest">
    <part name="params" element="tns:RegistrarPedido"/>
  </message>
  <message name="RegistrarPedidoResponse">
    <part name="mensagem" type="xsd:string"/>
  </message>

  <message name="ConsultarStatusRequest">
    <part name="params" element="tns:ConsultarStatus"/>
  </message>
  <message name="ConsultarStatusResponse">
    <part name="status" type="xsd:string"/>
  </message>

  <message name="AtualizarStatusRequest">
    <part name="params" element="tns:AtualizarStatus"/>
  </message>
  <message name="AtualizarStatusResponse">
    <part name="mensagem" type="xsd:string"/>
  </message>

  <portType name="TransportadoraPortType">
    <operation name="RegistrarPedido">
      <input message="tns:RegistrarPedidoRequest"/>
      <output message="tns:RegistrarPedidoResponse"/>
    </operation>
    <operation name="ConsultarStatus">
      <input message="tns:ConsultarStatusRequest"/>
      <output message="tns:ConsultarStatusResponse"/>
    </operation>
    <operation name="AtualizarStatus">
      <input message="tns:AtualizarStatusRequest"/>
      <output message="tns:AtualizarStatusResponse"/>
    </operation>
  </portType>

  <binding name="TransportadoraBinding" type="tns:TransportadoraPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RegistrarPedido">
      <soap:operation soapAction="RegistrarPedido"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="ConsultarStatus">
      <soap:operation soapAction="ConsultarStatus"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="AtualizarStatus">
      <soap:operation soapAction="AtualizarStatus"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="TransportadoraService">
    <port name="TransportadoraPort" binding="tns:TransportadoraBinding">
      <soap:address location="http://localhost:8001/wsdl"/>
    </port>
  </service>
</definitions>
